In [36]:
import time
import pandas as pd

In [42]:
X_train=pd.read_csv('C:/Users/haile/OneDrive - University of Bristol/assessment3/DST-assessment-3/Xin/Data/X_train.csv')
Y_train=pd.read_csv('C:/Users/haile/OneDrive - University of Bristol/assessment3/DST-assessment-3/Xin/Data/Y_train.csv')

In [43]:
X_test=pd.read_csv('C:/Users/haile/OneDrive - University of Bristol/assessment3/DST-assessment-3/Xin/Data\X_test.csv')
Y_test=pd.read_csv('C:/Users/haile/OneDrive - University of Bristol/assessment3/DST-assessment-3/Xin/Data\Y_test.csv')

In [44]:
Y_train

      index  stroke
0      3262       0
1      3267       0
2      1407       0
3      1385       0
4      3600       0
...     ...     ...
4082   3271       0
4083   2715       0
4084   2204       0
4085   2693       0
4086   3829       0

[4087 rows x 2 columns]

In [46]:
Y_test

      index  stroke
0       545       0
1      3650       0
2      1026       0
3      2574       0
4      2787       0
...     ...     ...
1017   4971       0
1018   2337       0
1019   2690       0
1020   1720       0
1021   1622       0

[1022 rows x 2 columns]

In [45]:
#Y_train.drop('Unnamed: 0',axis=1,inplace=True)
Y_train.drop('index',axis=1,inplace=True)

In [47]:
#Y_test.drop('Unnamed: 0',axis=1,inplace=True)
Y_test.drop('index',axis=1,inplace=True)

In [48]:
from sklearn.linear_model import LogisticRegression
classfier = LogisticRegression()
train0 = time.time()
classfier.fit(X_train, Y_train)
train1 = time.time() - train0
print("train_time:%.3fs\n" %train1)

train_time:0.049s

c:\Users\haile\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\haile\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [49]:
test0 = time.time()
Y_pre = classfier.predict(X_test)
test1 = time.time() - test0
print("test_time:%.3fs\n" %test1)

test_time:0.001s

In [50]:
from sklearn import metrics
print(metrics.classification_report(Y_test,Y_pre))
auc_lr = metrics.roc_auc_score(Y_test, Y_pre)
print('AUC_lr:%.3f'%auc_lr)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       967
           1       0.98      0.96      0.97        55

    accuracy                           1.00      1022
   macro avg       0.99      0.98      0.99      1022
weighted avg       1.00      1.00      1.00      1022

AUC_lr:0.981