In [32]:
import requests
import os
import pandas as pd
import numpy as np

## Downlorad data from website into data folder.

In [7]:
isExist = os.path.exists('Data')
if not isExist:

   # Create a new directory because it does not exist
   os.makedirs('Data')

In [11]:
url = 'http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz'
r = requests.get(url, allow_redirects=True)
open('Data/kddcup.data_10_percent.gz', 'wb').write(r.content)

2144903

In [9]:
url = 'http://kdd.ics.uci.edu/databases/kddcup99/kddcup.testdata.unlabeled_10_percent.gz'
r = requests.get(url, allow_redirects=True)
open('Data/kddcup.testdata.unlabeled_10_percent.gz', 'wb').write(r.content)

1386186

In [10]:
url = 'http://kdd.ics.uci.edu/databases/kddcup99/corrected.gz'
r = requests.get(url, allow_redirects=True)
open('Data/corrected.gz', 'wb').write(r.content)

1409035

In [12]:
url = 'http://kdd.ics.uci.edu/databases/kddcup99/kddcup.names'
r = requests.get(url, allow_redirects=True)
open('Data/kddcup.names', 'wb').write(r.content)

1307

In [20]:
cnames = pd.read_table('Data/kddcup.names',sep=":",skiprows=1,header=None)

In [6]:
kdd_10 = pd.read_csv('Data/kddcup.data_10_percent.gz', compression='gzip')
labeled_test = pd.read_csv('Data/corrected.gz', compression='gzip')
unlabeled_test = pd.read_csv('Data/kddcup.testdata.unlabeled_10_percent.gz', compression='gzip')

In [38]:
cnames.iloc[:,0].values

array(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate',
       'same_srv_rate', 'diff_srv_rate', 'srv_diff_host_rate',
       'dst_host_count', 'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate'], dtype=object)

In [28]:
names = cnames.iloc[:,0].values

In [39]:
names=np.append(names,'normal')

In [40]:
len(names)

42

## Add column names

In [41]:
datafiles = [kdd_10, labeled_test, unlabeled_test]

kdd_10.columns = [names]
labeled_test.columns = [names]
unlabeled_test.columns = [cnames.iloc[:,0].values]

In [42]:
kdd_10.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,normal
0,0,tcp,http,SF,239,486,0,0,0,0,...,19,1.0,0.0,0.05,0.0,0.0,0.0,0.0,0.0,normal.
1,0,tcp,http,SF,235,1337,0,0,0,0,...,29,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
2,0,tcp,http,SF,219,1337,0,0,0,0,...,39,1.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0,normal.
3,0,tcp,http,SF,217,2032,0,0,0,0,...,49,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.
4,0,tcp,http,SF,217,2032,0,0,0,0,...,59,1.0,0.0,0.02,0.0,0.0,0.0,0.0,0.0,normal.

In [43]:
unlabeled_test.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
0,0,udp,private,SF,105,146,0,0,0,0,...,255,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0
1,0,udp,private,SF,105,146,0,0,0,0,...,255,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0
2,0,udp,private,SF,105,146,0,0,0,0,...,255,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0
3,0,udp,private,SF,105,146,0,0,0,0,...,255,254,1.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0
4,0,udp,private,SF,105,146,0,0,0,0,...,255,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0

In [44]:
labeled_test.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,normal
0,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,normal.
1,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,normal.
2,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.00,0.0,0.0,0.0,0.0,0.0,snmpgetattack.
3,0,udp,private,SF,105,146,0,0,0,0,...,254,1.0,0.01,0.01,0.0,0.0,0.0,0.0,0.0,snmpgetattack.
4,0,udp,private,SF,105,146,0,0,0,0,...,255,1.0,0.00,0.01,0.0,0.0,0.0,0.0,0.0,snmpgetattack.

In [53]:
labeled_test.iloc[:,1]

0         udp
1         udp
2         udp
3         udp
4         udp
         ...
311023    udp
311024    udp
311025    udp
311026    udp
311027    udp
Name: (protocol_type,), Length: 311028, dtype: object

## Preprocessing

All columns apart from normal need to be converted to factor or a numeric.

In [54]:
cols_fac = [1,2,3,6,11,20,21]
for file in datafiles:
  for col in cols_fac:
    file.iloc[:,col].astype("category")

In [61]:
v =  range(40)
cols_num = [col for col in v if col not in cols_fac]

range(0, 40)
[0, 4, 5, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [62]:

for file in datafiles:
  for col in cols_num:
    file.iloc[:,col].astype("float")

We are also predominantly interested in predicting the general attack class, rather than the specific attack type, as the unlabeled test dataset contains attack types which aren't represented in the training set. Hence I will add a column to the datasets specifying the attack class. Within the dataset, there are 4 attack classes; Denial of Service (DoS), Probe, User to Root(U2R), and Remote to Local (R2L).

Here I extract the labels and count how many types we have

In [74]:
attack_types1 = np.unique(labeled_test['normal']) 
attack_types2 = np.unique(kdd_10['normal'])
attack_types = np.unique(np.append(attack_types1,attack_types2))
print(attack_types)
print(len(attack_types1))
print(len(attack_types2))
len(attack_types)

['apache2.' 'back.' 'buffer_overflow.' 'ftp_write.' 'guess_passwd.'
 'httptunnel.' 'imap.' 'ipsweep.' 'land.' 'loadmodule.' 'mailbomb.'
 'mscan.' 'multihop.' 'named.' 'neptune.' 'nmap.' 'normal.' 'perl.' 'phf.'
 'pod.' 'portsweep.' 'processtable.' 'ps.' 'rootkit.' 'saint.' 'satan.'
 'sendmail.' 'smurf.' 'snmpgetattack.' 'snmpguess.' 'spy.' 'sqlattack.'
 'teardrop.' 'udpstorm.' 'warezclient.' 'warezmaster.' 'worm.' 'xlock.'
 'xsnoop.' 'xterm.']
38
23

40

Now I add the column with attack class. 

Defining the classes:

In [75]:
DDoS = ['neptune.', 'smurf.', 'pod.', 'teardrop.', 'land.', "back.", "apache2.", "udpstorm.", "processtable.", "mailbomb."]
UR2 = ["buffer_overflow.","loadmodule.", "perl.", "rootkit.", "xterm.", "ps.", "httptunnel.", "sqlattack.", "worm.", "snmpguess.", "spy." ]
R2L = ["guess_passwd.", "ftp_write.", "imap.", "phf.", "multihop.", "warezmaster.", "warezclient.", "snmpgetattack.", "named.", "xlock." , "xsnoop.", "sendmail." ]
Probe = ["ipsweep.", "portsweep.", "nmap.", "satan." , "saint.", "mscan."]

print(len(DDoS) + len(UR2) + len(R2L) + len(Probe) + 1)
# Correct number of types

40

In [83]:
kdd_10['class']=""

Creating the class column:

In [103]:
kdd_10['class'] = kdd_10.groupby("normal").transform(lambda x: 'DDoS' if x.isin(DDoS) else x)

ValueError: Grouper for 'normal' not 1-dimensional

In [106]:
kdd_10['normal']

         normal
0       normal.
1       normal.
2       normal.
3       normal.
4       normal.
...         ...
494015  normal.
494016  normal.
494017  normal.
494018  normal.
494019  normal.

[494020 rows x 1 columns]

In [99]:
kdd_10['normal'].isin(DDoS)

       normal
0       False
1       False
2       False
3       False
4       False
...       ...
494015  False
494016  False
494017  False
494018  False
494019  False

[494020 rows x 1 columns]